body {
  min-height: 100vh;
  height: 100vh;
  background: #eee !important;
}

.container {
  min-height: 60%;
}

.no-presentations-message {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

header {
  .strut-logo img {
    height: 58px;
  }

  a.logo {
    text-decoration: none;
    font-size: 40px;
    font-family: "DejaVu Sans";

    h1 {
      font-size: 48px;
      font-weight: bold;
    }
  }
}

nav.navbar {
  background-color: #fff;
  border-color: #e7e7e7;

  a.navbar-brand {
    text-decoration: none;
    font-size: 40px;
    font-family: "DejaVu Sans";
    font-weight: bold;
  }

  .navbar-form .input-group input {
    height: 38px;
  }
}

h2 {
  font-size: 2.5rem;
}

.pointer {
  cursor: pointer;
}

.item-hidden {
  transition: opacity 0.4s ease-out;
  opacity: 0;
  width: 0;
}

.card-footer {
  .glyphicon {
    font-size: 2.5rem;
  }

  margin-top: 10px;
}

.icon {
  margin: 0 5px;
}

.infos {
  display: inline-block;
}

.infoBlock {
  width: 100%;
}

.full-height {
  margin: 100px auto;
}

.pictures {
  div.pictures {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* or space-around */
  }

  figure {
    display: inline-block;
    margin-bottom: 8px;
    width: calc(50% - 4px);
  }

  @media screen and (min-width: 50em) {
    figure {
      width: calc(25% - 6px);
    }
  }
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.vertical-align-middle {
  vertical-align: middle;
}

.font-size-inherit {
  font-size: inherit;
}

.social-buttons {
  margin-top: 15px;

  img {
    width: 30px;
  }

  a,
  a:link {
    text-decoration: none;
  }
}

/* Framasoft-compatible styles */
.ombre {
  background-color: #fff;
  box-shadow: -4px 6px 9px rgba(50, 50, 50, 0.5);
}

.container {
  .ombre {
    margin-top: 20px;
    margin-bottom: 30px;
  }

  background-color: #fff;
  padding: 10px 30px 20px;
}

img.ombre {
  box-shadow: 0 2px 6px rgba(50, 50, 50, 0.4);
  margin: 10px;
  padding: 0;
  width: 90%;
}

.delete {
  color: #d9534f;
}

.delete:hover {
  color: #d43f3a;
}

.row {
  margin: 35px 0 auto !important;
}

main {
  min-height: 70vh;
}

a,
a:link {
  text-decoration: none !important;
}

.version-details {
  margin-top: 15px;
}

/* moving to box-sizing (always) */
* { box-sizing: border-box; }

/* styles du conteneur */

/* hozizontal display and wrap enabled */
.container-grid-3 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: 30px;
}

/* direct children's styles */

/* width defined to 33% */
.container-grid-3 > * {
  width: calc(33.33% - 30px);
  min-width: 290px;
  margin-left: 30px;
  justify-content: space-between;
  align-items: flex-start;

  /* min-height: 200px; */
}
